 /* Typeface Cinzel Decorative, designed by Natanael Gama, is used pursuant to and as restricted by the Google APIs Terms of Use, https://developers.google.com/terms/ and the terms of the Open Font License, http://scripts.sil.org/OFL.  This Font Software is licensed under the SIL Open Font License, Version 1.1.  All users of this website must abide by these terms and licenses.*/

.heading{
			text-align:center;
			background-color: bisque;
 }

ul{
	margin-left: 155px; 
	type: disc;
	}
li, td{
	font-style: italic;
	}

.table{
	background-color: #cc6666;
	border-collapse: collapse;
	}

.table-bordered {
  border: 1px solid black;
  border-collapse: collapse;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid black;
  border-collapse: collapse;
}
	
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #cc9999;
}

td, th{
	text-align: center;
	}

th{
	background-color: grey;
	}

a:link, a:visited {
	font-size: 1.5em;
	text-decoration: none;
	color: #8d6e63;
}

a:hover{
	text-decoration: underline;
	color: #900c3f;
}

