body{
	font-family:"Comic Sans MS", cursive, sans-serif;
	}

h1{
	text-align: center;
	border-bottom: 1px solid;
	margin-bottom: 4px;
	}

ul{
	list-style-type: none;
	padding-bottom: 12px;
	margin-bottom: 10px;
	border-bottom: 1px solid;
	}

li{
	padding: 20px 20px;
	display:inline;
	margin:none
	}
.description{
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 20px;
	width: 358px;
	border: 1px solid;
	padding: 20px;
	}
.foot{
	text-align: center;
	padding: 2px;
	border-top: 1px solid;
	margin-top: 10 px;
	}