 /* Typeface Cinzel Decorative, designed by Natanael Gama, is used pursuant to and as restricted by the Google APIs Terms of Use, https://developers.google.com/terms/ and the terms of the Open Font License, http://scripts.sil.org/OFL.  This Font Software is licensed under the SIL Open Font License, Version 1.1.  All users of this website must abide by these terms and licenses.*/
.heading{
			text-align:center;
		}
ul{
	margin-left: 55px; 
	type: disc;
		}
li{
	font-style: italic;
		}
table{
	border-collapse: collapse;
	width: 90%;
	margin-left: 50px;
	table-layout: fixed;
	}
table, td, th{
	border: 1px solid black;
	}
td{
	text-align: center;
	}
th{
	background-color: grey;
	}
