 /* Typeface Comfortaa, designed by Johan Aakerlund, is used pursuant to and as restricted by the Google APIs Terms of Use, https://developers.google.com/terms/ and the terms of the Open Font License, http://scripts.sil.org/OFL.  This Font Software is licensed under the SIL Open Font License, Version 1.1.  All users of this website must abide by these terms and licenses.*/

body{
	font-family:"Comic Sans MS", cursive, sans-serif;
	}

h1{
	text-align: center;
	border-bottom: 1px solid;
	margin-bottom: 4px;
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	font-style: normal;
	}

ul{
	list-style-type: none;
	padding-bottom: 22px;
	border-bottom: 1px solid;
	}

li{
	padding: 20px 20px;
	display:inline;
	margin:none
	}

.backColor{
	background: #ffcc77;
}
.description{
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 400px;
	border: 1px solid;
	padding: 40 px;
	background-color: #ffcc77;
	}
.foot{
	text-align: center;
	padding: 10px;
	border-top: 1px solid;
	margin-top: 10 px;
	}