 /* Typeface Cinzel Decorative, designed by Natanael Gama, is used pursuant to and as restricted by the Google APIs Terms of Use, https://developers.google.com/terms/ and the terms of the Open Font License, http://scripts.sil.org/OFL.  This Font Software is licensed under the SIL Open Font License, Version 1.1.  All users of this website must abide by these terms and licenses.*/

.heading{
			text-align:center;
			background-color: bisque;
		}
ul{
	margin-left: 155px; 
	type: disc;
		}
li{
	font-style: italic;
		}
table{
	border-collapse: collapse;
	width: 90%;
	margin: 0 auto;
	}
table, td, th{
	border: 1px solid black;
	}
td{
	text-align: center;
	}
th{
	background-color: grey;
	}

tbody{
	font-style: italic; 
	background-color: #e6ccff;
}

a:link, a:visited{
	font-size: 1.5em;
	text-decoration: none;
	color: blue;
}
a:hover{
	font-size: 1.5em;
	text-decoration: underline;
	color: purple;
}

a:active{
	font-size: 1.5em;
	text-decoration: none;
	color: blue;
}