IMG.album{
			display:block;
			margin-left:auto;
			margin-right:auto;
		}
.heading{
			text-align:center;
		}
ul{
	margin-left: 55px; 
	type: disc;
		}
li{
	font-style: italic;
		}
table{
	border-collapse: collapse;
	width: 90%;
	margin-left: 50px;
	table-layout: fixed;
	}
table, td, th{
	border: 1px solid black;
	}
td{
	text-align: center;
	}
th{
	background-color: grey;
	}
